/* ===================
   Body
   =================== */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
}


/* ===================
   Header
   =================== */

header {
    position: sticky;
    top: 0;
    background: #1f1f1f;
    z-index: 1000;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.intro h1,
.intro p {
    margin: 5px 0;
    color: white;
}

.menu-toggle {
    background: none;
    border: none;
    color: #f39c12;
    font-size: 28px;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 10px;
    right: 20px;
}

/* ===================
   Nav
   =================== */

nav {
    overflow: visible;
    transition: none;
    max-height: none;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
    transition: transform 0.2s;
}

nav ul li:hover {
    transform: scale(1.1);
}

nav ul li a {
    color: #f39c12;
    text-decoration: none;
    font-weight: bold;
}

/* ===================
   Responsive
   =================== */

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    nav {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.4s ease-in-out;
    }

    nav.show {
        max-height: 500px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}


/* ===================
   CV
   =================== */

.cv-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.cv-buttons a {
    background: #f39c12;
    color: white;
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
}

.cv-buttons a:hover {
    background: #005fcc;
}


/* ===================
   General Section
   =================== */

section {
    padding: 40px;
    max-width: 800px;
    margin: auto;
    scroll-margin-top: 80px;
}

/* Animation d’apparition des sections */
section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Rendre les liens interactifs */
a:hover {
    text-decoration: underline;
}


/* ===================
   About Me
   =================== */

#about h2 {
    text-align: center;
    color: #f39c12;
    font-size: 2.5em;
    margin-bottom: 40px;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
}

#typing-text {
    font-size: 18px;
    white-space: pre-line; /* Respecte les sauts de ligne */
    overflow: hidden;
    display: inline-block;
    position: relative; /* Permet de positionner le curseur */
}

#typing-text::after {
    content: "|"; /* Curseur clignotant */
    position: absolute;
    animation: blink 0.8s infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}


/* ===================
   Projects
   =================== */

/* Styles généraux */
.projects {
  max-width: 900px;
  margin: auto;
  padding: 60px 20px;
  text-align: center;
}
.projects h2 {
    text-align: center;
    color: #f39c12;
    font-size: 2.5em;
    margin-bottom: 40px;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
}

.projects-container {
  display: grid;
  justify-content: center; /* Centre les cartes dans la grille */
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* Crée autant de colonnes que possible avec une largeur minimale de 280px*/
  column-gap: 20px; /* Espace horizontal entre les cartes */
  row-gap: 40px; /* Espace vertical entre les lignes */
  width: 100%; 
  box-sizing: border-box;
}


.project-card {
  flex: 0 0 calc(32% - 40px); /* Trois cartes visibles */
  min-width: 280px;
  padding: 10px;
  background-color: #1f1f1f;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  text-decoration: none;
  color: #333;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.project-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
  object-fit: cover;
}

.project-card h3 {
  font-size: 1.25rem;
  margin: 10px 0 8px;
  color: #ffffff;
}

.project-card p {
  font-size: 0.95rem;
  line-height: 1.5;
  color: #ffffff;
}

/* Effet de survol sur les projets */
.project {
    background: #1f1f1f;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(255, 165, 0, 0.8);
}



/* ===================
   Experience
   =================== */

.experience h2{
    text-align: center;
    color: #f39c12;
    font-size: 2.5em;
    margin-bottom: 40px;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
}

.experience h3{
  font-size: 1.25rem;
  font-weight: bold;
  color: #f39c12;
}

.date {
  font-size: 0.875rem;
  color: #7f8c8d;
  margin-top: 5px;
}
a {
    color: #ffffff;
    text-decoration: none;
}


/* ===================
   Programming Skills
   =================== */

.programming-skills h2{
    text-align: center;
    color: #f39c12;
    font-size: 2.5em;
    margin-bottom: 40px;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
}

.programming-skills div {
  margin-bottom: 15px;
}

.programming-skills h4 {
  font-weight: bold;
  font-size: 1rem;
  color: #3498db;
  margin-bottom: 5px;
}


/* ===================
   Education
   =================== */

.education h2{
    text-align: center;
    color: #f39c12;
    font-size: 2.5em;
    margin-bottom: 40px;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
}

.education h3{
  font-size: 1.25rem;
  font-weight: bold;
  color: #f39c12;
}

.education .degree-info {
  font-size: 1rem;
  color: #7f8c8d;
}
.education a {
    color: #f39c12;
    text-decoration: none;
}

/* Rendre les liens interactifs */
.education a:hover {
    text-decoration: underline;
}


/* ===================
   Hobbies
   =================== */

.hobbies h2{
    text-align: center;
    color: #f39c12;
    font-size: 2.5em;
    margin-bottom: 40px;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
}

/* ===================
   Languages
   =================== */

.languages h2{
    text-align: center;
    color: #f39c12;
    font-size: 2.5em;
    margin-bottom: 40px;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
}

/* ===================
   Contact
   =================== */

#contact ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    padding: 0;
}

#contact ul li a {
    display: inline-block;
    width: 60px;
    height: 60px;
}

#contact ul li a img {
    width: 100%;
    height: auto;
    transition: transform 0.2s;
}

#contact ul li a:hover img {
    transform: scale(1.1);
}


